module rabbitmqctl 1.0;

require {
        type rabbitmq_t;
        type rabbitmq_var_log_t;
        type rabbitmq_var_lib_t;
        type etc_t;
        type init_t;
        class file write;
        class file getattr;
}

#============= rabbitmq_t ==============
allow rabbitmq_t etc_t:file write;

#============= init_t ==================
allow init_t rabbitmq_var_lib_t:file getattr;
allow init_t rabbitmq_var_log_t:file getattr;
